<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: dynamic(~{::body})}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="stylesheet" href="/plugins/animate/animate.min.css">

    <link rel="stylesheet" href="/plugins/fontawesome/all.css">

    <link href="/plugins/webfonts/font.css"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" type="text/css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/plugins/uikit/uikit.min.css"/>


    <title>Tất cả sản phẩm</title>

</head>

<body>
<!--Banner-->
<div>
    <div>
        <img src="/images/collection_banner.jpg" alt="Products">
    </div>
</div>
<div class="breadcrumb-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
                <ol class="breadcrumb breadcrumb-arrows">
                    <li>
                        <a href="index.html">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="Product.html">
                            <span>Danh mục</span>
                        </a>
                    </li>
                    <li>
                        <span><span style="color: #777777">Tất cả sản phẩm</span></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--List Prodct-->
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 sidebar-fix">
            <div class="list-group" id="list-tab" role="tablist">
                <div class="group-menu">
                    <div class="layered_subtitle dropdown-filter"><b>Nhãn hiệu</b><span
                            class="icon-control"></span></div>
                    <ul class="sanpham" style="display: block;list-style-type:none;">

                        <li th:each="i: ${categories}">
                            <span></span>
                            <a th:href="@{/product/list(category=${i.Id})}" th:text="${i.Name}"
                               th:class="${i.Id == category ? 'text-decoration-none font-weight-bold' : 'text-decoration-none'}"></a>
                        </li>
                        <a th:href="@{/product/list}" th:text="${'Tất cả sản phẩm'}" class="text-decoration-none"></a>


                    </ul>
                </div>
            </div>
            <div class="block_content">
                <!-- ./filter price -->
                <div class="list-group" id="list-tab" role="tablist">
                    <div class="group-menu">
                        <div class="layered_subtitle dropdown-filter"><b>Giá sản phẩm</b><span
                                class="icon-control"></span></div>
                        <ul class="sanpham" style="display: block;list-style-type:none;">
                            <a th:href="@{/product/list(price=1000000)}"
                               th:class="${price == 1000000 ? 'text-decoration-none font-weight-bold' : 'text-decoration-none'}">từ 1,000,000đ</a>
                            <br>
                            <a th:href="@{/product/list(price=2000000)}"
                               th:class="${price == 2000000 ? 'text-decoration-none font-weight-bold' : 'text-decoration-none'}">từ 2,000,000đ</a>
                            <br>
                            <a th:href="@{/product/list(price=3000000)}"
                               th:class="${price == 3000000 ? 'text-decoration-none font-weight-bold' : 'text-decoration-none'}">từ 3,000,000đ</a>
                            <br>
                            <a th:href="@{/product/list(price=4000000)}"
                               th:class="${price == 4000000 ? 'text-decoration-none font-weight-bold' : 'text-decoration-none'}">từ 4,000,000đ</a>
                            <br>
                            <a th:href="@{/product/list(price=5000000)}"
                               th:class="${price == 5000000 ? 'text-decoration-none font-weight-bold' : 'text-decoration-none'}">từ 5,000,000đ</a>
                        </ul>
                    </div>
                </div>
            </div>

            </div>

        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="wrap-collection-title row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h1 class="title">
                        Tất cả sản phẩm
                    </h1>
                    <div class="alert-no-filter"></div>
                </div>
                <div class="col-md-8 d-sm-none d-md-block d-none d-sm-block" style="float: left">
                    <div class="option browse-tags">
                      <span class="custom-dropdown custom-dropdown--grey">
                            <a th:href= "@{(${category != null}? '/product/list?sortType=1&category=' + ${category} : '/product/list?sortType=1' + '&price=' + ${price != null ? price : '0'})}"
                               th:class="${sortType == 1 ? 'btn btn-secondary text-light' : 'btn btn-outline-secondary'}">Mới nhất</a>
                            <a th:href= "@{(${category != null}? '/product/list?sortType=2&category=' + ${category} : '/product/list?sortType=2' + '&price=' + ${price != null ? price : '0'})}"
                               th:class="${sortType == 2 ? 'btn btn-secondary text-light' : 'btn btn-outline-secondary'}">Bán chạy</a>
                            <select name="sortByPrice"  onchange="document.location.href=this.value" class="sort-by custom-dropdown__select">
                                <option th:value="@{(${category != null}? '/product/list?sortType=3&category=' + ${category} : '/product/list?sortType=3' + '&price=' + ${price != null ? price : '0'})}"
                                        th:selected="${sortType == 3}">Giá: Thấp đến cao</option>
                                <option th:value="@{(${category != null}? '/product/list?sortType=4&category=' + ${category} : '/product/list?sortType=4' + '&price=' + ${price != null ? price : '0'})}"
                                        th:selected="${sortType == 4}">Giá: Cao đến thấp</option>
                            </select>
                      </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 col-6" th:each="p:${items}">
                    <div class="product-block">
                        <div class="product-img fade-box">
                            <a th:href="@{|/product/detail/${p.id}|}" title="Adidas EQT Cushion ADV" class="img-resize">
                                <img
                                        th:src="@{|/assets/images/${p.image1}|}"
                                        alt="Adidas EQT Cushion ADV" class="lazyloaded">
                                <img
                                        th:src="@{|/assets/images/${p.image2}|}"
                                        alt="Adidas EQT Cushion ADV" class="lazyloaded">
                            </a>
                        </div>
                        <div class="product-detail clearfix">
                            <div class="pro-text">
                                <a style=" color: black;
                                                font-size: 14px;text-decoration: none;" href="#"
                                   title="Adidas EQT Cushion ADV" inspiration pack th:text="${p.name}">
                                </a>
                            </div>
                            <div class="pro-price">

                                <p class="">[[${p.price}]]đ</p>
                            </div>
                            <p class="text-sm">Số lượng: [[${p.Amount}]]</p>
                            <p class="text-sm">Đã bán: [[${p.Quantitysold}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sortpagibar pagi clearfix text-center">
                <div id="pagination" class="clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a th:each="page: ${#numbers.sequence(0, totalPage-1)}" th:class="${currentPage==page ?'font-weight-bold' : 'page-node'}"
                           th:href="@{( ${category != null}? '/product/list?page=' + ${page} + '&sortType=' + ${sortType != null ? sortType : '0'}  + '&category=' + ${category}
                           : '/product/list?page=' + ${page} + '&sortType=' + ${sortType != null ? sortType : '0'} + '&price=' + ${price != null ? price : '0'} )}" th:text="${page + 1}"></a>

                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px"
                                         y="0px" viewBox="0 0 31 10"
                                         style="enable-background:new 0 0 31 10; width: 31px; height: 10px;"
                                         xml:space="preserve">
                              <polygon points="31,5 25,0 25,4 0,4 0,6 25,6 25,10 "></polygon>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--gallery-->

<script async defer crossorigin="anonymous" src="/plugins/sdk.js"></script>
<script src="/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="/plugins/bootstrap/popper.min.js"></script>
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/owl.carousel/owl.carousel.min.js"></script>
<script src="/plugins/uikit/uikit.min.js"></script>
<script src="/plugins/uikit/uikit-icons.min.js"></script>
</body>

</html>
